html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

.contenedor {
    width:80%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}
h1 {
    color: cadetblue;
    text-align: center;
    margin: 0%;
}

/** Utilidades **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.centrar-texto {
    text-align: center;
}

.contenido-centrado {
    max-width: 1000px;
    min-width: 300px;
    width: 100vw;
    height: 80vh;
    align-items: center;
}
.navheader{    
    display: flex;
    
}
.divNav{
    background-image: url(../img/logoHeader.PNG);
    background-repeat: no-repeat;
    width: 80%;
}
.barra {
    padding: 3rem;
    background-color:  #4988c1;    
}
.divh1class {
    text-align: center;
    background-image: url(../img/rueda.gif);
    background-color:  #4988c1 ;
}
.divclass{
    width:100%; 
    height: 40vh;
    background-image: url(../img/img.PNG) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2em;
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
}
@media (max-width: 668px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .divclass{
        width:auto; 
        height: auto;
        background-image: url(../img/img.PNG) ;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 2em;
        display: flex;  
        flex-wrap: wrap;
        flex-direction: column;
    }
    .navheader{
        background-image: url(../img/logoHeader.PNG);
        background-repeat: no-repeat;
        background-position: right;
    }
}
.divContenedor{
    
    text-align: center;
}
fieldset{
    text-align: left;
    width: 60%;
    display: inline;
    
}
/** Navegacion **/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;  
    display: block; 
    text-align: right;     
       
}
.contentTrans{
    display: block;
    text-align: center;
}
.form_box
{
  width: 100%;
  height: 100%;      
  display: flex;
  align-items: center;
}

.navegacion a:hover {
    color: #71B100;
}

input:not([type="submit"]) {
    padding: 1rem;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
select {
    -webkit-appearance: none;
    appearance: none;
}

table{
    border-collapse: collapse;
    margin: auto;
    width: 50%;
    }
table,th,td{
    border:1px solid cadetblue;
    padding: 5px;
    width: auto;
    }
td{
    border: 1px solid black;
    text-align:center;
    
}
th{
    background-color: #444;
    color: #fff;
}
tfoot{
    background-color:#444;
}
.center{
    align-items: center;
}
.pie{
    width: 80%;
    background-color:  #4988c1 ;  
    margin: 0 auto;
    padding-bottom: 2em;    
    padding-left: 2em;
    padding-right: 1em;
    padding-top: 2em;
    align-items: center;
    color: #ffffff; 
    display: flex;  
    flex-wrap: wrap;
    flex-direction: row;
    
}
.spinner,.spinner:after{
    width: 70px;
    height: 70px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
    border-radius: 10%;
    z-index: 2;
    
 }
.spinner {   
    background-color: transparent;
    background: url('../img/rueda.gif') 50% 50% no-repeat;  
    width: 50px;
    height: 50px;
    background-size: cover;
    transform: translateZ(0);
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: .6s;
    animation-name: spinner-loading;
    border-radius: 10%;
 }

@keyframes spinner-loading{
  0% {
      transform: rotate(0deg)
  } to {
      transform: rotate(1turn)
  }
}

.pieLeft{
    
    width: 60%;
    display: inline-block;
    
}
.pieRigth{
    display: inline-block;
    width: 30%;    
    text-align: right;
    padding: 0px;
}
.navPie a{
   
        color: #ffffff;
        text-decoration: none;
}
.divBotones{
    width:50%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}
.divTabla{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
  
}
