html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

/** Globales **/
img {
    max-width: 100%;
}
.contenedor {
    width: 95%;
    max-width: 120rem; /** = 1200px; **/
    margin: 0 auto;
}
h1 {
    color: midnightblue;
    font-size: 3.8rem;
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem;
}
h4 {
    font-size: 2.6rem;
}

/** Utilidades **/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300 {
    font-weight: 300;
}
.centrar-texto {
    text-align: center;
}
.d-block {
    display: block!important;
}
.contenido-centrado {
    max-width: 800px;
}


.barra {
    padding: 5rem;
    background-color: #548abb;
}
.divh1class {
    text-align: center;
    background-image: url(../img/img.PNG);
    background-color: #548abb;
}
.divclass{
    text-align: center;
   
    background-color:white;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

/** Navegacion **/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;  
    display: block;     
    
}
.labelT{
    display: block;
}
@media (min-width: 768px) {
    .navegacion a {
      /*  display: inline-block;*/
        font-size: 1.8rem; /** = 18px **/
        margin-right: 2rem;
    }
    .navegacion a:last-of-type {
        margin: 0;
    }
}
.navegacion a:hover {
    color: #71B100;
}

input[type="radio"]{
    width: auto;
    margin: 0;
}
legend {
    font-size: 2rem;
    color: #4f4f4f;
}
label {
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}
input:not([type="submit"]),
textarea,
select {
    padding: 1rem;
    width: 100%;
    background-color: #e1e1e1;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}
input[type="radio"]{
    width: auto;
    margin: 0;
}
select {
    -webkit-appearance: none;
    appearance: none;
}
textarea {
    height: 20rem;
}
table{
    border-collapse: collapse;/*para que collapse las lineas*/
    margin: auto;
    }
    table,th,td{
    border:1px solid black;
    padding: 5px;
    }
.center{
    align-items: center;
}
table thead {
    color: #fff;
    background-color: #f00;
  }
.pie{
    color: white ;
display:block;
}


